// // Размеры экрана
// $screen-sm: 375px;
// $screen-md: 768px;
// $screen-lg: 1280px;
// $screen-xl: 1680px;

:root {
  // Roboto
  --font-family-default: "Gilroy-Black", sans-serif;
  --font-weight-default: 400;
  --font-size-default: 14px;
  --font-size-small: 12px;
  --font-size-big: 16px;
  --font-weight-light: 300;
  --font-line-height: 1.2;

  // Цвета
}

// Цвета
